{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

<div class="hero-unit">

    <h2>Bed edition</h2>

    <!-- BEGIN MESSAGE -->
    {% if app.session.hasFlash('notice') %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert" onclick="jQuery('.alert').fadeOut('slow')">&times;</button>
            <strong>Notice</strong> {{ app.session.flash('notice') }}
        </div>
    {% endif %}
    <!-- END MESSAGE -->

    <form action="{{ path('update_bed', { 'id': bed.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-primary" >Update</button>
        </p>
    </form>

    <table>
        <tr>
            <td>
                <a href="{{ path('list_bed') }}">
                    Back to the list
                </a>
            </td>
            <td>
                <form action="{{ path('delete_bed', { 'id': bed.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit" class="btn btn-danger" href="#">Delete</button>
                </form>
            </td>
        </tr>
    </table>

</div>

{% endblock %}

