<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>Booking Admin</title>

    {% stylesheets
    '%kernel.root_dir%/../vendor/bootstrap/less/bootstrap.less'
    '%kernel.root_dir%/../vendor/bootstrap/less/responsive.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {% stylesheets
    '@AdminBundle/Resources/public/css/*.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>
<body>

<!-- BEGIN BOOSTRAP -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Booking Admin</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Public</a></li>
                    <li><a href="#about">Settings</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

{% set route = app.request.attributes.get('_route') %}

{% set active_f_list = '' %}
{% set active_f_create = '' %}
{% set active_a_list = '' %}
{% set active_a_create = '' %}
{% set active_c_list = '' %}
{% set active_c_create = '' %}
{% set active_b_list = '' %}
{% set active_b_create = '' %}
{% set active_b_history = '' %}

{% if route == 'list_flat'  %}
    {% set active_f_list = 'active' %}
{% elseif route == 'new_flat' %}
    {% set active_f_create = 'active' %}
{% elseif route == 'list_user' %}
    {% set active_a_list = 'active' %}
{% elseif route == 'new_user' %}
    {% set active_a_create = 'active' %}
{% elseif route == 'list_customer' %}
    {% set active_c_list = 'active' %}
{% elseif route == 'new_customer' %}
    {% set active_c_create = 'active' %}
{% elseif route == 'list_booking' %}
    {% set active_b_list = 'active' %}
{% elseif route == 'new_booking' %}
    {% set active_b_create = 'active' %}
{% elseif route == 'history_booking' %}
    {% set active_b_history = 'active' %}
{% endif %}

<!-- BEGIN ACTIONS -->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Flat</li>
                    <li class="{{ active_f_list }}"><a href="{{ path('list_flat') }}">List</a></li>
                    <li class="{{ active_f_create }}"><a href="{{ path('new_flat') }}">Create</a></li>
                    <li class="nav-header">Admin</li>
                    <li class="{{ active_a_list }}"><a href="{{ path('list_user') }}">List</a></li>
                    <li class="{{ active_a_create }}"><a href="{{ path('new_user') }}">Create</a></li>
                    <li class="nav-header">Customer</li>
                    <li class="{{ active_c_list }}"><a href="{{ path('list_customer') }}">List</a></li>
                    <li class="{{ active_c_create }}"><a href="{{ path('new_customer') }}">Create</a></li>
                    <li class="nav-header">Booking</li>
                    <li class="{{ active_b_list }}"><a href="{{ path('list_booking') }}">List</a></li>
                    <li class="{{ active_b_create }}"><a href="{{ path('new_booking') }}">Create</a></li>
                    <li class="{{ active_b_history }}"><a href="{{ path('history_booking') }}">History</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

            {% block content %}
            {% endblock %}

        </div><!--/span-->

    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; Trivago 2013</p>
    </footer>

</div>
<!-- END ACTIONS -->

<!-- END BOOSTRAP -->

<script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
{% javascripts '%kernel.root_dir%/../vendor/bootstrap/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
