{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <h1>List flats</h1>

    <!-- BEGIN MESSAGE -->
    {% if app.session.hasFlash('notice') %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert" onclick="jQuery('.alert').fadeOut('slow')">&times;</button>
        <strong>Notice</strong> {{ app.session.flash('notice') }}
    </div>
    {% endif %}
    <!-- END MESSAGE -->

    <table class="table">
        <thead>
        <tr>
            <th>Flat-ID</th>
            <th>Description</th>
            <th>Country</th>
            <th>City</th>
            <th>Postcode</th>
            <th>Street</th>
            <th>Number</th>
            <th>Floor</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for flat in flats %}
        <tr>
            <td><a href="{{ path('show_flat', {id: flat.id}) }}">#{{ flat.id }}</a></td>
            <td>{{ flat.description }}</td>
            <td>{{ flat.country }}</td>
            <td>{{ flat.city }}</td>
            <td>{{ flat.postcode }}</td>
            <td>{{ flat.street}}</td>
            <td>{{ flat.number }}</td>
            <td>{{ flat.floor }}</td>
            <td>
                <a href="{{ path('delete_flat', {id: flat.id}) }}" class="btn btn-danger" type="button" >Delete</a>
                <a href="{{ path('show_flat', {id: flat.id}) }}" class="btn btn-info" type="button">Info</a>
                <a href="#" class="btn btn-info" type="button">View rooms</a>
                <a href="{{ path('edit_flat', { id: flat.id }) }}" class="btn" type="button">Edit</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}