{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <h1>History Booking</h1>

    <!-- BEGIN MESSAGE -->
    {% if app.session.hasFlash('notice') %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert" onclick="jQuery('.alert').fadeOut('slow')">&times;</button>
        <strong>Notice</strong> {{ app.session.flash('notice') }}
    </div>
    {% endif %}
    <!-- END MESSAGE -->

    <table class="table">
        <thead>
        <tr>
            <th>Booking-ID</th>
            <th>start date</th>
            <th>end date</th>
            <th>end date</th>
            <th>bed id</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
        <tr>
            <td><a href="{{ path('show_booking', { id: booking.id }) }}">#{{ booking.id }}</a></td>
            <td>{{ booking.StartDate|date('Y/m/d') }}</td>
            <td>{{ booking.EndDate|date('Y/m/d') }}</td>
            <td><a href="{{ path('show_customer', {id: booking.Customer.id}) }}">{{ booking.Customer.username }} {{ booking.Customer.email }} (Id: {{ booking.Customer.id }})</a></td>
            <td><span style="color: darkgreen">Room</span>: {{ booking.Bed.Room.description }} <span style="color: darkgreen">Bed</span>: {{ booking.Bed.type }}</td>
            <td>
                <a href="{{ path('delete_booking', {id: booking.id, origin: 'history'}) }}" class="btn btn-danger" type="button" >Delete</a>
                <a href="{{ path('show_booking', {id: booking.id}) }}" class="btn btn-info" type="button">Info</a>
                <a href="{{ path('edit_booking', { id: booking.id }) }}" class="btn" type="button">Edit</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}