{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <table>
        <tr>
            <td>
                <a href="#" onclick="javascript:history.back()">
                    Back to the list
                </a>
            </td>
        </tr>
    </table>

    <!-- BEGIN BLOCK -->
    <div class="hero-unit">


        <!-- BEGIN TABLE -->
        <table class="table">

            <tbody>
                <tr>
                    <td>ID: </td>           <td>{{ booking.id }}</td>
                </tr>
                <tr>
                    <td>Start date: </td>  <td>{{ booking.start_date }}</td>
                </tr>
                <tr>
                    <td>End date: </td>  <td>{{ booking.end_date }}</td>
                </tr>
                <tr>
                    <td>Customer id: </td>  <td>{{ booking.customer_id }}</td>
                </tr>
                <tr>
                    <td>Bed id: </td>  <td>{{ booking.bed_id }}</td>
                </tr>
            </tbody>
        </table>
        <!-- END TABLE -->

    </div>
    <!-- END BLOCK -->

    <table>
        <tr>
            <td>
                <a href="#" onclick="javascript:history.back()">
                    Back to the list
                </a>
            </td>
        </tr>
    </table>


{% endblock %}