{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <table>
        <tr>
            <td>
                <a href="#" onclick="javascript:history.back()">
                    Back to the list
                </a>
            </td>
        </tr>
    </table>

    <!-- BEGIN BLOCK -->
    <div class="hero-unit">


        <!-- BEGIN TABLE -->
        <table class="table">
            <tr>
                <td>Id: </td> <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <td>StartDate: </td> <td>{{ booking.StartDate|date('Y/m/d') }}</td>
            </tr>
            <tr>
                <td>EndDate: </td><td>{{ booking.EndDate|date('Y/m/d') }}</td>
            </tr>
            <tr>
                <td><span style="color: darkgreen">Room</span>:</td> <td>{{ booking.Bed.Room.description }} </td>
            </tr>
            <tr>
                <td><span style="color: darkgreen">Bed</span>:</td> <td>{{ booking.Bed.type }}</td>
            </tr>
        </table>
        <!-- END TABLE -->

    </div>
    <!-- END BLOCK -->

    <table>
        <tr>
            <td>
                <a href="#" onclick="javascript:history.back()">
                    Back to the list
                </a>
            </td>
        </tr>
    </table>


{% endblock %}