{% extends "FrontBundle::base.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title %}Home Page{% endblock %}
{% endblock %}

{% block navigation %}
    <div class="nav-collapse">
        <ul class="nav pull-right">
            <li><a href="{{ path('register') }}">Sign Up</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                    <form action="{{ path('customer') }}" method="post" {{ form_enctype(login) }}>
                        {{ form_widget(login) }}
                        <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" />
                        <label class="string optional" for="user_remember_me"> Remember me</label>

                        <input class="btn btn-success" type="submit" name="commit" value="Sign In" />
                    </form>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 well">

            </div>
            <div class="span9 list_flats">
                <ul class="thumbnails">
                    {% for flat in flats %}
                        <li class="span12">
                            <div class="thumbnail">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <img src="{{ asset('bundles/front/images/room.jpg') }}" class="img-rounded">
                                    </div>
                                    <div class="span9">
                                        <h3>{{ flat.description }}</h3>
                                        <address>
                                            <strong>{{ flat.street }}, {{ flat.number }}</strong><br>
                                            {{ flat.city }}, {{ flat.country }} {{ flat.postcode }}<br>
                                        </address>
                                        <a href="{{ path('flat_details', {id: flat.id}) }}" class="btn" type="button">View details</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}