{% extends "FrontBundle::base.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title %}Register{% endblock %}
{% endblock %}

{% block navigation %}
    <ul class="nav pull-right">
       <li class="active"><a href="{{ path('homepage') }}"> << Back to the homepage </a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="wrap_register" class="container-fluid">
        <form action="{{ path('customer') }}" method="post" {{ form_enctype(register) }}>
        {{ form_widget(register) }}
        <input class="btn btn-success" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign Up" />
    </div>
{% endblock %}


