{% extends "FrontBundle::base.html.twig" %}

{% block head %}
    {{ parent() }}
    {% block title %}{{ flat.description }}{% endblock %}
    {% stylesheets
    '%kernel.root_dir%/../web/js/jqwidgets/styles/jqx.base.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}



{% block navigation %}
    <div class="nav-collapse">
        <ul class="nav pull-right">
            <li><a href="{{ path('register') }}">Sign Up</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown"><strong class="caret">Sign In</strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                    {% render 'FrontBundle:Default:login' %}
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
{{ form_errors(book) }}
<div class="container-fluid">
    <div class="hero-unit">
        
        <div class="row-fluid">
            <div class="span4">
                <img src="{{ asset('bundles/front/images/room.jpg') }}" class="img-rounded" width="270">
            </div>
            <div class=" offset2 span8">
                <h3 class="title-flat">{{ flat.description }}</h3>
                <table class="table lineh">
                    <tbody>
                    <tr>
                        <td>Country: </td>
                        <td>{{ flat.country }}</td>
                    </tr>
                    <tr>
                        <td>City: </td>
                        <td>{{ flat.city }}</td>
                    </tr>
                    <tr>
                        <td>Postcode: </td>
                        <td>{{ flat.postcode }}</td>
                    </tr>
                    <tr>
                        <td>Street: </td>
                        <td>{{ flat.street}}</td>
                    </tr>
                    <tr>
                        <td>Number: </td>
                        <td>{{ flat.number }}</td>
                    </tr>
                    <tr>
                        <td>Floor: </td>
                        <td>{{ flat.floor }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <h4>Rooms available in {{ flat.description }}</h4>
            <table class="table table-striped">
                <tbody>
                {% for room in rooms %}
                    <tr>
                        <td><input type="checkbox" value="{{ room.id }}"></td>
                        <td><i class="icon-home"></i></td>
                        <td style="padding-top: 12px;">{{ room.description }}</td>
                        <td>
                            <select class="beds">
                                {% for i in range(0,room.Beds|length) %}
                                <option size="4">
                                    {% if room.Beds|length != 0 %}
                                    {{ i }}
                                    {% else %}
                                    Not available
                                    {% endif %}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-success pull-right" type="submit">Book apartment</button>
        </div>
    </div>

    <a href="{{ path('homepage') }}"><< Back to the homepage</a>
</div>


{% endblock %}


{% block js %}
    {{ parent() }}
    {% javascripts
        '%kernel.root_dir%/../web/js/jqwidgets/jqxcore.js'
        '%kernel.root_dir%/../web/js/jqwidgets/jqxdatetimeinput.js'
        '%kernel.root_dir%/../web/js/jqwidgets/jqxcalendar.js'
        '%kernel.root_dir%/../web/js/jqwidgets/jqxtooltip.js'
        '%kernel.root_dir%/../web/js/jqwidgets/globalization/globalize.js'
        '@FrontBundle/Resources/public/js/calendar.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}