{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

    <h1>List admins</h1>

    <!-- BEGIN MESSAGE -->
    {% if app.session.hasFlash('notice') %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert" onclick="jQuery('.alert').fadeOut('slow')">&times;</button>
        <strong>Notice</strong> {{ app.session.flash('notice') }}
    </div>
    {% endif %}
    <!-- END MESSAGE -->

    <table class="table">
        <thead>
        <tr>
            <th>Admin-ID</th>
            <th>username</th>
            <th>email</th>
            <th>active</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{ path('show_user', { id: user.id }) }}">#{{ user.id }}</a></td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.isActive }}</td>
            <td>
                <a href="{{ path('delete_user', {id: user.id}) }}" class="btn btn-danger" type="button" >Delete</a>
                <a href="{{ path('show_user', {id: user.id}) }}" class="btn btn-info" type="button">Info</a>
                <a href="{{ path('edit_user', { id: user.id }) }}" class="btn" type="button">Edit</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}